*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
@font-face {
    font-family: Rubik;
    src: url("../src/fonts/Rubik-Regular.ttf");
}
@font-face{
    font-family:Kalam;
    src: url("../src/fonts/Kalam-Regular.ttf");
}
body{
    height: 100vh;
    background-image: url("./images/blueSky.png");
       background-repeat: no-repeat;
        background-size: 100% 100%;
}
header{
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}
#location {
    border-radius: 25px;
    border-style: none;
    height: 29px;
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 10px;
    font-size: 1.1em;
}
#location::placeholder{
    color: white;
    margin-left: 5px;
    opacity: 0.7;
}

.search-icon{
    height: 27px;
    color: white;
}

#top-container{
    display: flex;
    height: 47.5%;;
}
/* Weather Infomation styling / top section */
.box1{
    width: 33.33%;
}
/* location styling */
.location-container {
    display: flex;
    width: 100%;
    height: 13%;
    justify-content: center;

}
.location-img-container{
    margin-left: 127px;
 
}
.location-img{
    margin-top: 8px;
    height: 40px;
}
.location-info-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
    font-family: Rubik;
    justify-content: center;
}
.location-info-container span:nth-child(1){
    font-size: 1em;
}
.location-info-container span:nth-child(2){
    font-size: 1.4em;
    letter-spacing: 1px;

}
/* END location styling */
/* Temperature stlying  DUPLICATE OF LOCATION STYLES MOSTLY*/
.temperature-container{
  display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
}
.tempurature-img{
   height: 55px;
}
.temperature-info-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
    font-family: Rubik;
}
.temperature-container span:nth-child(1){
    font-size: 1em;
}
.temperature-container span:nth-child(2){
    font-size: 1.6em;
    letter-spacing: 1px;

}

/* Temperature END */

/*temp convert styling */
.temp-convert-container{
    display: flex;
    height: 12%;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    margin-left: 171px;
}
.temp-convert{
    width: 50px;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-family: Rubik;
    font-size: 1.3em;
}
/* temp convert END */
/* END of top weather Info styling */




.box2{
    display: flex;
    width: 33.33%;
    align-items: center;
    flex-direction: column;

}
.three-days{
    display:flex;
    width: 100%;
   justify-content: center;
    margin-top: 100px;
    height: 10%;
}
.three-days p {
    font-size: 2.3em;
    color: white;
    font-family: Kalam;
}

/*  Weather Stats START  */
.box3{
    display: flex;
     width: 33.33%;
     flex-direction: column;
  
}
/* Weather condition START */ 
.condition-container{
    display: flex;
    height: 15%;
   align-items: center;
}
.condition-img{
    height: 55px;
}
.condition-info-container{
       display: flex;
    flex-direction: column;
    color: white;
    font-family: Rubik;
    height: 100%;
    width: 90%;
    margin-left: 3px;
}
.condition-info-container span:nth-child(1){
    font-size: 1em;
}
.condition-info-container span:nth-child(2){
    font-size: 1.4em;
    letter-spacing: 1px;

}
/* Weather condition END */
/*  Feels like Data */
.feels-like-container{
       display: flex;
    height: 15%;
   align-items: center;
}
.feels-like-img{
     height: 55px;
}
.feels-info-container{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Rubik;
    height: 100%;
    width: 90%;
    margin-left: 3px;
}
.feels-like-container span:nth-child(1){
    font-size: 1em;
}
.feels-like-container span:nth-child(2){
    font-size: 1.4em;
    letter-spacing: 1px;

}
/*  Feels like Data END */
/* Humidity INFO  */

.humidity-container{
       display: flex;
    height: 15%;
   align-items: center;
}
.humidity-img{
      height: 55px;
}
.humidity-info-container{
      display: flex;
    flex-direction: column;
    color: white;
    font-family: Rubik;
    height: 100%;
    width: 90%;
    margin-left: 3px;
}
.humidity-container span:nth-child(1){
    font-size: 1em;
}
.humidity-container span:nth-child(2){
    font-size: 1.4em;
    letter-spacing: 1px;

}
/* Humidity INFO END */
/* Wind INFO START */
.wind-container{
      display: flex;
    height: 15%;
   align-items: center;
}
.wind-img{
    height: 55px;
}
.wind-speed-container{
       display: flex;
    flex-direction: column;
    color: white;
    font-family: Rubik;
    height: 100%;
    width: 90%;
    margin-left: 3px;
}
.wind-container span:nth-child(1){
    font-size: 1em;
}
.wind-container span:nth-child(2){
    font-size: 1.4em;
    letter-spacing: 1px;

}

.weather-gif {
    height: 300px;
    width: 380px;
}
/* Wind INFO END */
/*  Weather Stats END  */
#bottom-container{
    height: 47.5%;
    width: 100%;
    display: flex;
   flex-direction: column;
}
.forecast-container {
    display: flex;
    height: 100%;
}
.forecast{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: Kalam;
    font-size: 1.7em;
    flex-direction: column;
}
/* FORECAST COLORS CANT BE WHITE, BACKGROUND MAKES THEM BLEND INTO IT*/
.weather-img{
    height: 200px;
}